@using MyPortfolio.WebSite.App_LocalResources.Home
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='4e57a7985829c85d' />
    <meta name="google-site-verification" content="jJpHdnpfv5-fNAdp1lZPqgrYk8DnhpjlhcbpjMHkayM" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">@Resources.HomeLabel</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li><a href="@Url.Action( "About" , "Home")">@Resources.About</a></li>
                    <li>@Html.ActionLink(Resources.Contact, "Contact", "Home")</li>
                    <li><a href="@Url.Action("Index","Books")">@Resources.Books</a></li>
                    <li><a href="@Url.Action("Test","Eisenhower")">Eisenhower</a></li>
                </ul>
                @{
                    Html.RenderAction ( "LogInHeader" , "Account" );
                }
                <ul class="nav navbar-nav navbar-right">
                    
                    @*<li><a class="btn"  id="lang_en">English</a></li>
                    <li><a class="btn" id="lang_ru">Русский</a></li>*@
                    @{
                        var rote1 = new RouteValueDictionary ( ViewContext.RouteData.Values );
                        if ( rote1.ContainsKey ( "lang" ) ) {
                            rote1["lang"] = "en";
                            
                            <li><a class="btn" id="lang_en" href="@Url.RouteUrl(rote1)">English</a></li>
                            rote1["lang"] = "ru";
                            <li><a class="btn" id="lang_ru" href="@Url.RouteUrl(rote1)">Русский</a></li>
                            Url.RouteUrl ( rote1 );
                        }
}
                </ul>
            </div>
            
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Aristoktar</p>
        </footer>
        <!--LiveInternet counter-->
        @*<script type="text/javascript">
<!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t19.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script>*@<!--/LiveInternet-->

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">

    $('#lang_ru').click(function () {
        document.cookie = 'Lang=ru';
        location.reload();
    });
    $('#lang_en').click(function () {
        document.cookie = 'Lang=en';
        location.reload();
    });
    $('#login').click(function () {
        var width = 600;
        var height = 400;
        var left = window.screen.width / 2 - width / 2;
        var top = window.screen.height / 2 - 2* height / 3;
        window.open('@Url.Action("LogIn","Account")', 'newWin', 'Toolbar=0, Location=0, Directories=0, Status=0, Menubar=0, Scrollbars=0, Resizable=0, Copyhistory=1, Width='
                    + width + ', Height=' + height + ', Left=' + left+', Top='+top);
    });
        $('#logout').click(function () {
            $.getJSON($(this).data('logout_href'), function (data) { location.reload(); });
        });

    $('#login_vk').click(function () {
        var resp;
        var width = 600;
        var height = 400;
        var left = window.screen.width / 2 - width / 2;
        var top = window.screen.height / 2 - 2 * height / 3;
        window.open('@Url.Action("LogInVK","Account")', 'newWin', 'Toolbar=0, Location=0, Directories=0, Status=0, Menubar=0, Scrollbars=0, Resizable=0, Copyhistory=1, Width='
                   + width + ', Height=' + height + ', Left=' + left + ', Top=' + top);
    });

    $('#logout').click(function () {
        //VK.Auth.logout();
    });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
